todo.txt
.ICEauthority
.Xauthority
.adobe/
.bash_history
.bash_logout
.cache/
.compiz/
.config/
.dbus/
.dmrc
.gconf/
.gitconfig
.gnupg/
.indicator-bulletin-config.json
.indicator-bulletin-history.json
.indicator-bulletin-pinned.json
.indicator-weather/
.kde/
.keras/
.links2/
.local/
.macromedia/
.mozilla/
.nv/
.oracle_jre_usage/
.pki/
.profile
.python_history
.sudo_as_admin_successful
.thunderbird/
.tmux/
.viminfo
.wget-hsts
.xinputrc
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
mkl-dnn/
tensorflow/
testdir/
